/*************************
 *   Global styles
**************************/
.crush { margin-bottom: 15px; }
.indent { margin-left: 15px; }
.push { margin-right: 15px; }
.hugme { margin: 0; }


/*************************
 *   Layout
**************************/
html, body { height: 100%; }
body { background-color: #e7e7e7; }

/* Main content */
.full-page-app { position: relative; width: 100%; height: 100%; overflow-y: auto; }
.main { position: absolute; top: 65px; right: 0; bottom: 0px; left: 0; min-width: 845px; }

/* Footer */
.footer { position: fixed; bottom: 15px; width: 100%; z-index: -99; }

/*************************
 *   Components
**************************/

/* Navbar Modifications */
.navbar-brand-logo { display: block; margin: 5px 15px 0 5px; }
.navbar-brand-logo img { height: 40px; width: 40px; }
.navbar-user { margin: 15px; color: #777; }
.navbar-avatar { display: block; margin: 0; }
.navbar-avatar img { height: 50px; }

/* Timesheet */
.timesheet { position: absolute; top: 0; right: 15px; bottom: 0; left: 15px; margin-bottom: 45px; background-color: #fff; overflow-y: auto; }

.timesheet-header { padding: 10px 15px; color: #333; background-color: #DCE8F8; }
.timesheet-header:before,
.timesheet-header:after { content: " "; display: table; }
.timesheet-header:after { clear: both; }
.timesheet-content { padding: 15px; overflow-y: auto; }
.timesheet-table td { width: auto; }

.timesheet-table th.day-header { width: 50px; padding: 8px 0; text-align: center; }

.timesheet-table td input,
.timesheet-table td select { padding: 8px 4px; }
.timesheet-table td input { text-align: center; }
.timesheet-table td.day-control { padding: 8px 0; }
.timesheet-table td.entry-actions { width: 100px; }
.timesheet-table td.day-control input { width: 45px; margin: 0 auto; }
.timesheet-table td.select { padding: 8px 2px; }

.timesheet-table td.day-footer { text-align: center; }

/* Controls */
.control-group { float: left; margin-right: 15px; }
.control-group:before,
.control-group:after { content: " "; display: table; }
.control-group:after { clear: both; }
.control-group .form-control,
.control-group .control-label { float: left; width: auto; margin-bottom: 0; }
.control-group .control-label { padding: 7px 0; margin-right: 15px; }
.control-group.pull-right { margin-left: 15px; margin-right: 0; }

@media (min-width: 1200px) {
    .copy-control-group { margin-left: 50px; }
}

/* Messages */
.message-container { position: fixed; left: 0; right: 0; bottom: 0; display: none; }
.message-processing { float: left; }
.message { display: block; height: 55px; line-height: 55px; padding-left: 30px; background-color: #3c454f; color: #fff; }

/* Modal Dialog */
.comment-modal .modal-body { padding: 7px; }
.comment-modal .modal-footer { margin-top: 0; padding: 7px; border: 0; }